<!-- BARRA DE NAVEGACION -->
<nav class="navbar navbar-light bg-primary navbar-expand-md">
    <div class="container">
        <a href="#" class="navbar-brand">
            <a class="h3 text-white" href="index.php?accion=inicio">
                Mi Proyecto Web 
                <!-- IMAGEN LOGO DE LA PÁGINA -->
            	<!-- <img src="imagenes/fingenieria.png" width="120"> -->
            </a>
        </a>
        <button type="button" class="navbar-toggler bg-white" data-toggle="collapse" data-target="#menu-principal" aria-controls="menu-principal" aria-expanded="false" aria-label="Desplegar menu de navegación">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu-principal">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="index.php?accion=inicio" class="nav-link text-white">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="index.php?accion=basededatos" class="nav-link text-white">Base de datos</a>
                </li>
                <li class="nav-item">
                    <a href="index.php?accion=documentacion" class="nav-link text-white">Documentación</a>
                </li>
            </ul>
       </div>

    </div>
</nav>